<section>
  <div class="box" style="width: 150px; float: left; margin-right: 25px;">
    <h4><i class="eicon-network"></i>Multiport Coin</h4>
    <div class="icon">
      <%= coin_link(@multiport_coin.downcase) do %>
        <%= coin_image(@multiport_coin, width: 90) %>
      <% end %>
    </div>

    <p class="box-info">us-east.chunkypools.com:6666</p>
  </div>

  <div class="box" style="width: 150px; float: left">
    <h4><i class="eicon-alert"></i>Newest Coin</h4>
    <div class="icon">
      <%= coin_link('aur') do %>
        <%= coin_image('aur', width: 90) %>
      <% end %>
    </div>

    <p class="box-info">us-east.chunkypools.com:3346</p>
  </div>

  <div class="clear" style="clear: both"></div>
</section>
