<section class="widget">
  <header>
    <h4><i class="eicon-network"></i> ChunkyPort</h4>
  </header>
  <div class="body">
    <ul class="news-list">
      <%= render 'coin', coin: Coin[@latest_display_data.public_send(algo).multiport_coin], port: '6666' %>
    </ul>
  </div>
</section>

<section class="widget widget-tabs">
  <header>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#scrypt" data-toggle="tab">scrypt</a>
      </li>
      <li>
        <a href="#x11" data-toggle="tab">x11</a>
      </li>
      <li>
        <a href="#sha256" data-toggle="tab">sha256</a>
      </li>
    </ul>
  </header>
  <div class="body tab-content">
    <div id="scrypt" class="tab-pane active">
      <h5 class="tab-header"><i class="fa fa-group"></i> scrypt pools</h5>
      <ul class="news-list">
        <% Coin.scrypt.each do |coin| %>
          <%= render 'coin', coin: coin %>
        <% end %>
      </ul>
    </div>
    <div id="x11" class="tab-pane">
      <h5 class="tab-header"><i class="fa fa-group"></i> x11 pools</h5>
      <ul class="news-list">
        <% Coin.x11.each do |coin| %>
          <%= render 'coin', coin: coin %>
        <% end %>
      </ul>
    </div>
    <div id="sha256" class="tab-pane">
      <h5 class="tab-header"><i class="fa fa-group"></i> sha256 pools</h5>
      <ul class="news-list">
        <% Coin.sha256.each do |coin| %>
          <%= render 'coin', coin: coin %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
