<section class="widget">
  <header>
    <h4><i class="eicon-network"></i> ChunkyPort</h4>
  </header>
  <div class="body">
    <ul class="news-list">
      <%= render 'coin', coin: @multiport_coin, port: '6666', pool: pool(@multiport_coin) %>
    </ul>
  </div>
</section>

<section class="widget">
  <header>
    <h4><i class="fa fa-group"></i> Pools</h4>
  </header>
  <div class="body">
    <ul class="news-list">
      <% @pool_info.pools.each.with_index do |pool, i| %>
        <%= render 'coin', coin: pool.coin, port: coin_port(pool.coin), pool: pool(pool.coin) %>
      <% end %>
    </ul>
   </div>
</section>
