<section class="widget">
  <div class="clearfix">
    <span class="left"><strong><%= article.header %></strong></span>
    <span class="right">posted by <strong><%= article.author %></strong> at <strong><%= article.time %> UTC</strong></span>
  </div>

  <div><%= raw article.content %></div>
</section>
