<% content_for :page, 'news' %>

<section class="widget">
  <header>
    <span class="left"><strong><%= truncate(article.header, length: 80) %></strong></span>
    <span class="pull-right">posted by <strong><%= article.author %></strong> at <strong><%= article.time %> UTC</strong></span>
  </header>

  <div><%= raw article.content %></div>
</section>
