<section class="widget">
  <header>
    <span class="left"><strong><%= article_header(article, article_counter) %></strong></span>
    <span class="pull-right">posted by <strong><%= article.author %></strong> at <strong><%= article.time %> UTC</strong></span>
  </header>

  <div><%= raw Kramdown::Document.new(article.content).to_html %></div>
</section>
