<% content_for(:title, 'IRC / Chat') %>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Chat <small>internet relay chat</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <iframe src="https://webchat.freenode.net/?channels=chunky" width="100%" height="400"></iframe>
    </div>
  </div>
</div>
