<% content_for(:title, '500 Internal Server Error') %>

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">500 <small>internal server error</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="alert alert-danger">
        <h3 class="white-header"><i class="fa fa-exclamation-circle"></i> Uh oh! Something exploded in the code.</h3>
        <h4>Don't worry, this incident has been logged. It probably wasn't anything you did.</h4>
      </section>
    </div>
  </div>
</div>
