<% content_for(:title, '404 Not Found') %>

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">404 <small>page not found</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="alert alert-danger">
        <h3 class="white-header"><i class="fa fa-exclamation-circle"></i> Uh oh! We couldn't find that page.</h3>
        <h4>Are you looking in the correct spot? If you think something should be here, let us know.</h4>
      </section>
    </div>
  </div>
</div>
