<% content_for(:title, "Post | #{@post.header}") %>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Posts <small>news &amp; updates about the site</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= render @post %>
    </div>
  </div>
</div>

