// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coin-label {
  width: 60px;
  text-align: center;
}

.exchange-rate {
  font-size: 80%;
}

.exchange-rate-label {
  padding-top: 30px;
  font-weight: bold; 
}