// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.box-info {
  font-size: 80%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.news-list {
  a {
    &:hover {
      text-decoration: none
    }

    .position {
      color: grey;
    }
  }
}

#chunkyport-box {
  height: inherit;
}

.alert-info > a {
  color: #A9DCFF;
}
