// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-info {
  font-size: 80%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.news-list {
  a {
    &:hover {
      text-decoration: none
    }

    .position {
      color: grey;
    }
  }
}

li.multi {
  height: inherit;
}
