// login page

.login-widget input {
  font-size: 13px !important;
}

// register page

.control-group {
  border-bottom: 1px solid #eee;
  padding-top: 50px;
}

.form-horizontal.label-left .control-label {
  text-align: left;
  position: relative;
  bottom: 10px;
}

.top-field {
  padding-top: 25px;
}

// faq page

.faq-entry {
  padding-bottom: 10px;
}

// contact page

.text-area {
  padding-bottom: 50px;
}
