<!-- <footer class="box"> -->
<!--   <p>Chunky Pools is powered with open&#45;source components Ruby, Sinatra, RethinkDB, Memcached.</p> -->
<!--   <ul><li><a href="/faq">FAQ</a></li><li><a href="/contact">Contact</a></li></ul> -->
<!-- </footer> -->
